



body{
    background-color: rgb(231, 213, 178);
}

nav{
    display:inline-block  

}   

.images{
    display:inline ;
    
}

.buttons{
    display: flex;
    justify-content: cleft;
    align-items: flex-end;
    min-height: 10vh;
    font-family:Arial, Helvetica, sans-serif;    
    background-color: antiquewhite;
}

a{    
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    text-decoration: none;
    background-color: rgb(125, 79, 151);
    color: antiquewhite;
}

.images{    
        padding: 100px 60px;
        display: flex;
        justify-content: left;
        align-items: left;
        background-color: azure;
        margin: 5px;
        text-decoration: none;
}

a:hover{
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
                0 0 30px var(--clr),
                0 0 60px var(--clr),
                0 0 100px var(--clr);
}