body{
    background-color: beige;
}
nav{
    padding: 2%;
    
    height: 25px;
    
    background-color: blueviolet;
    
}
span{
    margin-left: 180px;
    justify-content: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: azure;
    
}
.bloc{
    display:flex;
    justify-content: center;
}
figcaption{
    width: 300px;
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
}